
.content {
    padding: 25px 40px 40px 40px;
    min-width: 320px;
}
/* Panels */
.hpanel > .panel-heading {
    color: inherit;
    font-weight: 600;
    padding: 10px 4px;
    transition: all .3s;
    border: 1px solid transparent;
}
.hpanel .hbuilt.panel-heading {
    border-bottom: none;
}
.hpanel > .panel-footer,
.hpanel > .panel-section {
    color: inherit;
    border: 1px solid #e4e5e7;
    border-top: none;
    font-size: 90%;
    background: #f7f9fa;
    padding: 10px 15px;
}
.hpanel.panel-collapse > .panel-heading,
.hpanel .hbuilt {
    background: #fff;
    border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    padding: 10px 10px;
    border-radius: 2px;
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.hpanel.panel-group .panel-body:first-child {
    border-top: 1px solid #e4e5e7;
}
.hpanel.panel-group .panel-body {
    border-top: none;
}
.panel-collapse .panel-body {
    border: none;
}
.hpanel {
    background-color: none;
    border: none;
    box-shadow: none;
    margin-bottom: 25px;
}
.panel-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.hpanel .alert {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #e4e5e7;
    border-bottom: none;
}
.panel-tools a {
    margin-left: 5px;
    color: #9d9fa2;
    cursor: pointer;
}
.hpanel.hgreen .panel-body {
    border-top: 2px solid #62cb31;
}
.hpanel.hblue .panel-body {
    border-top: 2px solid #3498db;
}
.hpanel.hyellow .panel-body {
    border-top: 2px solid #ffb606;
}
.hpanel.hviolet .panel-body {
    border-top: 2px solid #9b59b6;
}
.hpanel.horange .panel-body {
    border-top: 2px solid #e67e22;
}
.hpanel.hred .panel-body {
    border-top: 2px solid #e74c3c;
}
.hpanel.hreddeep .panel-body {
    border-top: 2px solid #c0392b;
}
.hpanel.hnavyblue .panel-body {
    border-top: 2px solid #34495e;
}
.hpanel.hbggreen .panel-body {
    background: #62cb31;
    color: #fff;
    border: none;
}
.hpanel.hbgblue .panel-body {
    background: #3498db;
    color: #fff;
    border: none;
}
.hpanel.hbgyellow .panel-body {
    background: #ffb606;
    color: #fff;
    border: none;
}
.hpanel.hbgviolet .panel-body {
    background: #9b59b6;
    color: #fff;
    border: none;
}
.hpanel.hbgorange .panel-body {
    background: #e67e22;
    color: #fff;
    border: none;
}
.hpanel.hbgred .panel-body {
    background: #e74c3c;
    color: #fff;
    border: none;
}
.hpanel.hbgreddeep .panel-body {
    background: #c0392b;
    color: #fff;
    border: none;
}
.hpanel.hbgnavyblue .panel-body {
    background: #34495e;
    color: #fff;
    border: none;
}
.panel-group .panel-heading {
    background-color: #f7f9fa;
}
.small-header .hpanel {
    margin-bottom: 0;
}
.small-header {
    padding: 0 !important;
}
.small-header .panel-body {
    padding: 15px 25px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
}
.panel-body h5,
.panel-body h4 {
    font-weight: 600;
}
.small-header .panel-body h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 0 0;
}
.small-header .panel-body small {
    color: #838589;
}
.hbreadcrumb {
    padding: 2px 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff;
    font-size: 11px;
}
.hbreadcrumb > li {
    display: inline-block;
}
.hbreadcrumb > li + li:before {
    padding: 0 5px;
    color: #34495e;
}
.hbreadcrumb > .active {
    color: #9d9fa2;
}
.wrapper {
    padding: 10px 20px;
}
.hpanel.collapsed .panel-body,
.hpanel.collapsed .panel-footer {
    display: none;
}
.hpanel.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.hpanel.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.hpanel.collapsed.panel-collapse .panel-body {
    border-width: 0 1px 1px 1px;
    border-color: #e4e5e7;
    border-style: solid;
}
.hpanel.collapsed .hbuilt.panel-heading {
    border-bottom: 1px solid #e4e5e7;
}
body.fullscreen-panel-mode {
    overflow-y: hidden;
}
.hpanel.fullscreen {
    z-index: 2030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-bottom: 0;
}
.hpanel.fullscreen .showhide {
    display: none;
}
.hpanel.fullscreen .panel-body {
    min-height: calc(100% - 77px);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}